Monthly_portal_update.json
[
    {
        "id": "f7fcbf6ba6fa3412",
        "type": "debug",
        "z": "1bc7a6a4da33e4e6",
        "name": "debug 95",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 200,
        "wires": []
    },
    {
        "id": "e3130573b362db4d",
        "type": "html-to-pdf",
        "z": "1bc7a6a4da33e4e6",
        "name": "",
        "format": "A4",
        "zoom": 100,
        "orientation": "Portrait",
        "width": "",
        "height": "",
        "marginTop": 1,
        "marginLeft": 1,
        "marginBottom": 1,
        "marginRight": 1,
        "marginTopUnits": "cm",
        "marginLeftUnits": "cm",
        "marginBottomUnits": "cm",
        "marginRightUnits": "cm",
        "omitBackground": false,
        "printGraphics": true,
        "x": 470,
        "y": 200,
        "wires": [
            [
                "482e084629bd116c"
            ]
        ]
    },
    {
        "id": "0f61a1f635571759",
        "type": "template",
        "z": "1bc7a6a4da33e4e6",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n\n<head>\n    <style>\n        * {\n            box-sizing: border-box;\n            margin: 0;\n            font-family: Arial;\n        }\n\n        .main {\n            height: 100%;\n            width: 100%;\n            border: 1px solid black;\n            position: fixed;\n            background-color: #E5E4E2;\n        }\n\n        .side {\n            border: 1px solid black;\n            text-align: center;\n            height: 75%;\n            width: 45%;\n            float: right;\n            margin-top: 50px;\n            margin-right: 70px;\n            background-color: white;\n        }\n\n        .block {\n            border: 1px solid black;\n            height: 50%;\n            width: 90%;\n            margin-top: 15px;\n            margin-left: 15px;\n            background-color: #09035E;\n        }\n\n        .hello {\n            position: fixed;\n            height: auto;\n            padding: 10px 10px 10px 10px;\n        }\n    </style>\n</head>\n\n<body>\n    <div class=\"main\"><img src=\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAVMAAACVCAMAAADSU+lbAAABI1BMVEX///8AAAAAQMScnJxNTU3///1oaGj4+Pjo6Oj///w4ODiUlJT///rZ2dn//f6JiYny8vLh4eEyMjIAOMJCQkK0tLTV1dXCwsJ4eHhISEhuhdjIyMinp6eOjo4AQcLv7+9hYWEjIyMaGhpUVFSsrKxwcHB+fn4AQMgPDw9bW1v///WCgoITExO7u7sAQr4sLCwALL0AN8YARLsAMsYAJbwAN7kAIbwALLkAP8wAMcpSd8o/ZMt5lNRBbMN2jdfH0+0AKs2YqeOfrNO3xd7Y4uwjUcSTq9vh7vK3xOdOacmJmd3H1+imut13lMkALrE7XctBYsJOdb+JoM9kgsmps+O5zeJzhNgXRrEAJtBLb8JCYNCVpuZxit7o7/7j9OlJZMLL3+cWAE0ZAAAX00lEQVR4nO1di1vbOLZ3DMIxKG7AgZYSTChQ0wDGeZGEpoWWR5iFlhlaOju7t7f3//8rruS3pSPZSaG0Kb/v2y2DZVk+Ou9zZBTlEXeKw9eDh17CxKFpvnnoJUwa1tqNtw+9hokCQsrRsfnuoZcxHsrzK4ubBIsr89pDryUBpCvvW42Th17GyNBWVje2Cwm8qE2VfvASNMFGGhh9Mtun7K/LlWkGyzvhtSp3jcWrl3OLwhfUZvkbKiujvU11ugBiZ0l+49Yy91pPoHEb/BJni8kBxakN74GVuXn+bgPjM7VdZn+9wq+3Gl6rwe/DYaPKTSuYulAoQiMFWJqRPHRhUXYrdAcwbC1j3HySBK+4tdeR5toON+scP2fEApI3YrEF7OIUMG5bRog0lpYznrn+VHjvPDQeEBFo22vx5Sf0v59tLpWWFrfoj5vs/fioa/7BzQrIVqg8ihnvlMYONzXE5jVulADFjRzP3FgT3L0IjX7GjwM4qjAVXtQqhAciadDo2NX07RidNxoDnZ2Vn3M5vPQ0x1sl8IIVDWjQlJIPEI9D2INvfwkO5sdBGxeys7HPbMP8dkIvekD4sGFeYWbSEj9ntBdPcr5XhLT8g2yez0StVXI/E7Q8yiw4ln84NCoU02mOA8qEqGmLjJu97hHLp5v8nJGWEphcCVKcugeNAI0ZC9C4ibAFTKDBQ1+y4yC1+yK4NuVzV/QWG0seB84m7zeGbbtbRsysW/ykkY4a5c18LCSnhth8PQ9Jq6M9FCDqkmAoOw5Su8F05UAJrsZXVrx3SjH7Sde2MMunL7g5w32C1EImksICmW3ATHBYBe6TYi73rrBO7Q4wZjO6NB+8RWXn5c6rgseiGmNlB6b5BjF8Cvhn0baDtjMLCdmGLqdV/N2QFNCTgPR5YH0TSG2XwtXXwrfYDMlP/plJM/u1bd4ojI0CTHvkgz0b/eWSzgbI5tlBZV6DnwIbOq6LBjLjxHOtBDtVChe96N+9mHoH7VhtXLA0BXReZLxh25mFaGrA+oGhTBqgYcsEo1LLwoFp4YfUbsW/tBoQdzFc9LSvX0sp9+2o23NPWdkHdF60B2O9Xew1QC5iJYukYPyTA2n+F/sNac8LUruBeqgF9pa8xe5mtTpHfFWP24oJQaYev91RkJGaFKDbhmwTcyBimQXxgoUwdsd7aLxqD1B05CMdGkPaLYibKoVXzFvUPEcxQVMDK3/Y5jfE0BSgW2REx1JshYjPQTaXpj0UsW0heLlIou49OD4qMOHGK/E0KYbeF09UKdSYt9j3dEEplkRsKF3b/BfrSVXXFxisRzYUitZ31yMIV10UbhcbaHEQyuxsnC0RuEkpd164tnTADm57cG3Z907pWyytrRWpM+L5LLGNMjC67PaIiRoB28ADk4mgeci5i8eAbD7GIwsFxgMr8i41M7VMKSeDDmgLQyWy5c9YDWcuBNuxFT3JQPo70+5+HYGkYGYxnQaCNW5AACj1uQE8JwGRGmQcMNiqJ3xUqe+QmAza9lD1Vf2RM+GiwxcrFGaCEcTcf1OJiRoBUFKKTX6CvBhIF8RzfMCTTSsgiw3uZcL8CQSIWwOk3cKtmfd9hN3gBqomqABWE5uH6sdqh0+eSgAxzQwzBsw8+ZoNZHNxDplCkAYDdDBkyhK5DWlSKyH80LaXE5No3lt4NKTqZMkjbeQOInR7bJvnuQmqwJlFLvkJLdqnKZh7FWWQPQj8YchVABVmHEvBE4WI9gjiiN1okhXqFu6Fiy76K9lIRQ0D0zaP2KSUDNByuLoaNMh3q6Go/QX3kCRg340VDR+Q7xstLiP3EzEGtO2JgGyDz048SwcNZ7bVLxvMmCczLGrhbmewgoSmU+GKctInxDpIAbgIDO1YxNBgUBxjQTZJgopagSUq0b+v4v9Cw7bdu2aDfYAk0QOhpNQCczvMEYtCakuTUlInggVk2SPjk5X7CW0elHJPSiJlq1psIJ/upkiqKFd9tfGBpSmgUCLXGbKdXJocNLClcD0cpHUTcC6RtoA2M0rNrkMzJRAKP3QtJRaeJzzzlChUrTRFY65Y8BHxpA5Nu3WiM/oU2O1IgKCkFGsu4Lqqp2DA3Ku0KwecSxTLQl5FLbiWmfsJPARo21lJTLkilYRri0iw/9HqtYdMsC9L9IELY70aMBno+xoQ13GqIwnYsIhGQzQNA4rsYpYvz9C2c5JYngrM4faztIFG+KhvqWcKWziRJPpA7ca8F+wGzgnJLa2bgGH8qmg0RNPQcczO/fjCD6VjILkoLz3dW2HjDqNeH3Qanbds7hQQtyh4hF4xFVnOi0ocHjODbM41cSQBthEJUy6Q3FZkMwEjoW3PyPHEwFhpWmr/om6kiQqIW2Q7oUhl90UE8Xp9AQfZXFo3gW7YF46G5LsimYkB5ToDupCXpISopweWdTDUGbsvK+2v51gZCJ8ZQUmWLRGM9YWiD+rCQIwgtbDNBNrUQ4O2fVn4QBY6Ojdtp+llUpIA/LgweBQXdLLg23aIzaV1E5Cxxb4XlIyo+Zcg13WaITSlHbTt4k3kaKpc23bnrcIWToAsd3hppEaQJALfD1IOcBNOgBF9LyiRH9hsSM8/YYPZNXjb5TmeJNDwgKhTrkEasCNR8Dhu3STYFJDNBd1i4gdKelag+YPthKKjPXb+TVi7jdAbe94n6pTr6gF4MUovSAo6UjwVTp2xYMifrQlHg1HaopjcRTY8mQa3fVf4wDRoVe9PtWddK2wCBWCNcZp5kwj5HEzYS5cJSaK4yAqawCUxuRUuk6VlNPNKoWNj2LbsBn/eBPDjxmvmjRAJK8Tmr7gFJAFVWsStqmC04S8eUsyUVgwHLULKJm9vrG4o562mfXDJBvuypNR4zSCxdEMX5QuGaCpMY4FbHjizUHREH83w7wz0wLzHNwgp/zRV1ayzZWhgYVHwOHIzr4eSZOqsBUOvKIy7wBAuWDyUrfYezYRNUN0k78krHQ+PCUmf11k2BXgxeon8XcoJlGRTZzXzQvpUxKdw4mlPfM17dLYrk6s3lgLjd4RNWycGZmwUsNkRVTIfz6OSqDWN0cwL2X1RlRWmjr9nUOzgJ2GzbUSe3lgPCJ3Zqu1qiKWpJCk1RjNvSltCbA51iCeQp0obAGbTIEqDPILg0ZltitIcTxL6Zdu2rdcKZpOn/JxRtJtR0OHxJCXYYHYio5kXMteCo1RwT5WkU6MqJncKuQ9cokHD6TU+c78HeDEKHkdr5t1YNDKnBkquaeRPZAkOGAW7CpmeYJpM4c9LUkXp2JZ6MOR+DTBGFDxC7W4Qtpe3plZ4YzlOMy8YzUIKDuzFiPQEOE24wgzLm9kbG+HkY89RX/OFfcCPC91LcGFLZRZCzwNi81nR4BBg4ykfzhqC/Q7EAIqOokdnCL80xxMDI/xX3+oBQRTkx4WXctRNpFgHbucKPSxAfcPlMw0Br4UDIVMXhbgCFg8hzfHEwLSu79jHvOgDxjMKHiFfJX+2FrbLmQuGQzdG+osirRQGFFCnRlxjkgt/vqSUgZXzhmXbfLMExIuROwTZzpyCQQEmpRZmhfC7iAUV5JQLJjxcNB2OgC7GNSa58Od8PaQ0VdU23ymcPgWmj4JH6IH5s7Wj5179aEFQmtuNOHxFzGYh2URJqQBS4ZfneGLgI1dV1YNTnk8BXgx9TNDnGCFbm/dDCiGCrKW4tLBV3durSjr9YyGSlKk8yD4IkDcphQ9JXGqf1RF3wpw3s1HwCDqA+Uk6cmAbindeD0688swIVxbM5ElK0cLzWle17MY55thUdiQSyvrU8pN05NxrGGGNmWBMhgaQdkhqLZnw5zmwbSCk3DRU0OGXHomECjp5BQOeWo4owhorG5YM08GgONVHLD49nyspRXgT9x2157zmuBT046RJqYzIMomRj+BGscN4Z/gSni8UFKeTBmLhz8jx+EBYuer0VKt1BVwE/Djpm+X6koGPUT+kkOhMEx+/EyNpgiBfKZ3cEvct5DiwrXhZPtVW7a4GdJzzc0bRLmQ7xU02eaaWI1nJG/3DFtPJR0OxGKO1hB+uySWJuu45UuYnNnGqgLwYvRpU0MmdrR1DgJOtdNr6iDennUqoU4Mx50Lhz1U3oQdMCU3dI52nqSwpBaVuc2drx/iQQqqVrjzaGd60EpQmpWRjCjlyPB6M4YFq26rD+/ugHzdSM68EwkO2IjDvDNXoRGDkGooauD5igfBnHdj2gZ53CJ+2zhHApwAvhpe+Nyk1Ck0optkJZJ+TS2GbVYFQUMzlwwRylHVg28fwwLIttT3EvD6VJaUg28m9txgjf0iBL+TlrNzw2UMoKOa0lkD480nigPhRVusvhOrcJdmp/e9MSo38IQUgObOWI2NQAeoq0Dh+GNwKluPVsDHskkjfcW+hq7KkFGQ7c2ZrBVPLAR6XzPr64SyUJgODYn4YKPwZB7Y9YDxoEaOvOuBpSIAXw1fLccJcilGTUiIGKUnyUDOwLwnlC4AaE6idcjTzIqwdWKpq9d+DNJ3iEIn+/JzkYg7wd8shtg3aHmitaosiT3IFmB6SsE3gDfOUodGgQdm0XwYcKRC8b/AzoLT5LKEFKs+qP/ibxymU203iSDU+Qc7pL4e1eYIR9M894a3aI7LfPtUngaY/A3Q0dJ0eCfX/QI8kvRsYWPlESya2e/TQS5kYIHx6QOxTj56IesTdACtvTGr0W1ejfKrjEWLUET46piS1G/Wf00H65YANg376hNAUKpc+Yiyg+nsvKlU72iOb3g0wGtIOKdVqvMPcef0AK5XlALPFuR2pMz01y1WhFyvLCyPk/RkUg2fLP+Hzc8FQaPLEstWuBiWjKRLp8JIyJ//e2xMuAU4zFSPk/si2JDcgrlblK1b8FECXH3vUkTL/S1gWHrK0VCrN7xeqpVKR5sal7RBPOPptFaqjhYmryTLvemGx5GNplL8l85BACnrdp618zkGdPRORxkKQMZ2SF7Z5mr4cJZtKMZfMta/nP4iQAz/AYCASigYGqnXDt52lENO04n3+zOPWai3+2YdP02LN/0iapigzC4VpOuCZ/820Rf8Oyrla8CE1yn+afwP9/epCYXkm2pj1VB3d/wxbbS/+OZiDrmCxFv8cTM6tcueVV/PYe5WvnDQOiIFyae6EOFJZflRM0wBTiRx9TFSPplGeetbw6xPzfvVxPr5jTdHCtrztclym317z2xOjKkKKplH19ilXbp1KNKWQn9e245+jZ1Zph5XH9tWMj4B+BwhrvjEd1VZV91zhq1ApxDRdXSsWiyvUZkwX9orez3EB16PpXmGLjlmbJVRc8/SpVigUi2Vicuj44torQpVSYdkbVCM/LxUq0c/ll4WpWHWmaEp2hY6q0jI9nZDA/8dbDbGedJIlupo1/0ErtAW+UliJxizfL02pRapfHVM3yjYdnJU4jWnqMeU8rTJs+C9cTNjkgKZ+H0qFVhef0bKtlq55zJDJSkF1dYv8vBT8TH/P2qgETbf9hoY9n6ber/x/vNXM+fclVzNP5132a5zemHumKTFPuOw6RO6tHth2lgZM06mnBNURaErHP12ZTtB0xqPp7Er4+7uhaXHPX9l0RMcfQVP6AZk3XsHEds6yg1KYpgE42RfRNNKILE0TmvIuaBqVRH8sTYnN/9ylDVKq6eb4dixM02dTcxSMjRLStFTYpzdMVTia7vsTrc7fDU0rhZd0uh2WphVfD2zeE00N9JWS1FJt848cVSiJPk1CTtOk3kzTNNG5chc0jejI0HSr8IL+qYDde7NR117WlFahRBFUAndK0y3P7gtpmvD5t2Of3yD/4f3wVERT7741n089fixSu5+kadSpcE/69EOfeqa22niLc1T2IJpuFfa9Q2AvYg9aTtNiYdu7YZdsRpKm88HvFyoapen6ftS/mmhTKZE1eKP26TMgmq57c9BWrpp/Zm2hUGNoqmiGYdyTPsXo9sCi2tTudXJ1p24HjUqr/nLmvVbo5dCxjoK+l7TVay/o89ynNN2i7BPaqDAds0h51vcWqK8a/Z62rO+kTq1EDWZL/l8MpKA5quBTtJGejn1+71RmsDL6iNmQpnHz9n3QFOlo+LHleJLf/ZwrE60F2dXwLyH7/2geUsPIf2nBEWitHN0YDtLiO6KJjPREzN9a1rT0Nfbu6J85srfxariRBv23uOOZwtp98KmBr1XHpnzauJbH+b8OVvMcIAp0Sf6j9/lgYB3Vv3R6Kq2YWMRA3fH8D4XSXp6e0CUaC+zd9Z+PN7CBiWfqGSi7dYMmop3ngYH1Ov2MjENJ2vtbqT/S9C4wdEk82iOCb7Uv2W+cPmJ0IEPXznq+s2+1Bg+9nEmAger6ny3bp2nPwTkiqEdkwNDxoWn5JFXdI+4vF/+aQFg3kA4Ceee97w86QhgNgiif2PwB/4mOXxQI1w0YKKN2+b0P1gmb3riB4KtWjqzpLwLCpxgJgO9XFo26fvNvJ5B869+nk8KlxD/UDp9/+fTlOYAvJ0jR74esBqJf4L1pN3u2Vy6x2lcTw6a0qH51oDZMEAcnJMi5p+cSNr1pq6HFNw+BM5C/LrAyMHuOyoMe97yo3xdR68qHkKTE21c1/JOexxkHGOno2rYBmqpELg/e34/p1w08aEcP9VIn9+pj/HDgr6afFgLQ/kDbbO8WBrV/h25AT7J37lVGi8SvB6N+1LYskFUd1f2C7/pIDQmXtNdm8Dxbtcy3E6VMPZAXen8AcqnaazY619BXXr4Pw7MoerLU1jddvy+t/WDQifs9aIHC79iqbTZPFcO4K7rS2OzWtW1fLqh4NMsoqz3q1wT6Zqqg9Ktqs9G9uDP3nzCkfnPgJB7VOr2bmX86YENr2j2QpLQtzH17V74/1rV/+lbku9HTevcUVjw4DIyHHc8IA0Sl3yA9O/Wk9nscHgMRBYJuOw01NoiWezVhTlQap31HIP2UsO55nRjs70hwIoMwKR50U9LQBT4VPUnQL4+FJKV67z9DYp7HpinS9bp+2WzZyY3rDya7/EQk87YtJimJyQ9uvoMAyMDDwbGjWomYzf2kTJxjmgZhwYu2IJzy1WqreavQPzwyWhCAMFZwHetXnQbRoxFJLds9JDHqBCtTH/pFFzb+Ppye++aUmJTRPHQS3BKq3p71mUSNeTjx9KTQ8UVbYqeoA9A+PEX10XSAXkdHf7YdJy0D7iHi/nbZJMLQESWqQP799LHZ/uvSG6lnped0rwRDGPXi2u2pXl9EIPWqbfU/8X9rZ2Jx6wpVakCSxvH1BUaYnhGTUhXheh2j8vsmMyNtjOq+/WEv9BMAX7p2T2yqaK66aXVbHy4VmrKT0ZR6XkfPuy2bSc8Shm2/m2wnKg3ig546pkj8fTaj2dZG2xlcyvUhPnrb6UIT9NxzPPkGP43ytWk7cO4/yW4N1zz8fKrRP+auY++4PXGb6A+EP8uX//2j65oQl9u97smEhvgSYOOTK5P+GGanb17/z/nJ5VetTmvaivL16+XVu+d/u/0OvCmW3WieTnKILwCqKzeCJDVHIOIlOJ1W2+1+7DiO0/nYbbuNRqNHO/WgXbGd/psy98dKfwPQ455HrYblNOQktel3X8n/e0V68q9NYVn0f1YPKMbYvaZ9TNOGEx6RCoCU/71u9Zq5FEBuNNWWe/t70pOCJqA+HPey7NRoaDTOhiMGthMF4uygS8ekhuaOCGub7g3G35EunAQYWP90oPasfC6ADGQK2279fVn/3bxSFkg36splsyHLVOVlUafXc2+IF/sbC74PjOhBm5u2+d3CbzsH/5zSUOD3FnwKhGgP9dfDtldStcZRAfRO2278fUET2eg39PVBGPX60esucT5lOQAhLIfEsJ3P6Hd088Xw0voXr93M+B9mU7v78Z1GtMgjTRNAOqLp59tvxyYt0DlwsxrIoLQZqvPek/pHRQrAQP/3vNs3rV5ON8BuqFarfX31+4ZN2dCxrpTfn7WFbVUco7qNwSltjHzolf/MICpAQaf/ctwGkBZlmdTtPj/Rqd6YkHNk9wniDZ2ev+72KV1pBioOXS3VS0vZZqPfPhvcImVijpD9GGiX7w+drtsyzY7p+1iWatqmSdiz8+eHk6FX+3t0RnOCfgMOe/V99PXy4t3g+T9nXonZOntz+Pbd58uvlJAIB0n/e8D/A9ZeDwT394NkAAAAAElFTkSuQmCC\" class=\"hello\" width=\"300\" height=\"150\" >\n        <div class=\"side\">\n            <div class=\"block\"></div>\n            <br /><br /><br />\n            <h2 style=\"color:black;\">SunAlpha_Vibrant_Chittor</h2>\n            <h2 style=\"color:black;\">480.60kWp/400kW</h2>\n            <br /><br /><br />\n            <h3 style=\"color:black;\">Monthly Portal Status</h3>\n            <br />\n            <hr style=\"width:90%;height:2px;color:darkblue;background-color:#09035E;margin-left: 15px\">\n            <br /><br /><br /><br />\n            <hr style=\"width:90%;height:15px;color:darkblue;background-color:#09035E;margin-left: 15px\">\n            <br />\n            <h4 style=\"float: right;margin-right: 15px;color:black;\">Poornima</h4>\n            <h4 style=\"float: left;margin-left:15px;color:black;\">\n                <script>\n                    document.write(new Date().toLocaleDateString()); \n                </script>\n            </h4>\n        </div>\n    </div>\n</body>\n\n</html>",
        "output": "str",
        "x": 280,
        "y": 200,
        "wires": [
            [
                "e3130573b362db4d"
            ]
        ]
    },
    {
        "id": "482e084629bd116c",
        "type": "file",
        "z": "1bc7a6a4da33e4e6",
        "name": "write",
        "filename": "/home/iplon/grafana-generate-pdf-nodejs-main/output/Frontpage.pdf",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 630,
        "y": 200,
        "wires": [
            [
                "0aacbb4833668707"
            ]
        ]
    },
    {
        "id": "df1bdae7aae9eba7",
        "type": "comment",
        "z": "1bc7a6a4da33e4e6",
        "name": "Front page",
        "info": "",
        "x": 120,
        "y": 200,
        "wires": []
    },
    {
        "id": "b6a08252de6fca5f",
        "type": "comment",
        "z": "1bc7a6a4da33e4e6",
        "name": "Content",
        "info": "",
        "x": 110,
        "y": 320,
        "wires": []
    },
    {
        "id": "b227c8405735dcaa",
        "type": "file in",
        "z": "1bc7a6a4da33e4e6",
        "name": "2",
        "filename": "/home/iplon/grafana-generate-pdf-nodejs-main/output/2.png",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 730,
        "y": 380,
        "wires": [
            [
                "c4739048c8829f04"
            ]
        ]
    },
    {
        "id": "eeb346d767da830c",
        "type": "file in",
        "z": "1bc7a6a4da33e4e6",
        "name": "3",
        "filename": "/home/iplon/grafana-generate-pdf-nodejs-main/output/3.png",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 730,
        "y": 440,
        "wires": [
            [
                "0aa84792a4e7fe3a"
            ]
        ]
    },
    {
        "id": "c4739048c8829f04",
        "type": "base64",
        "z": "1bc7a6a4da33e4e6",
        "name": "",
        "action": "str",
        "property": "payload",
        "x": 920,
        "y": 380,
        "wires": [
            [
                "1f3ded9b95763978"
            ]
        ]
    },
    {
        "id": "0aa84792a4e7fe3a",
        "type": "base64",
        "z": "1bc7a6a4da33e4e6",
        "name": "",
        "action": "str",
        "property": "payload",
        "x": 920,
        "y": 440,
        "wires": [
            [
                "ea86e2215a641a3a"
            ]
        ]
    },
    {
        "id": "43d94f0f348fe473",
        "type": "file in",
        "z": "1bc7a6a4da33e4e6",
        "name": "4",
        "filename": "/home/iplon/grafana-generate-pdf-nodejs-main/output/4.png",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 730,
        "y": 500,
        "wires": [
            [
                "a2ff9f3752a80d43"
            ]
        ]
    },
    {
        "id": "0e921d98a3e555bb",
        "type": "file in",
        "z": "1bc7a6a4da33e4e6",
        "name": "5",
        "filename": "/home/iplon/grafana-generate-pdf-nodejs-main/output/5.png",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 730,
        "y": 560,
        "wires": [
            [
                "93da9c0f81db2b04"
            ]
        ]
    },
    {
        "id": "a2ff9f3752a80d43",
        "type": "base64",
        "z": "1bc7a6a4da33e4e6",
        "name": "",
        "action": "str",
        "property": "payload",
        "x": 920,
        "y": 500,
        "wires": [
            [
                "4b2f629dc828f59c"
            ]
        ]
    },
    {
        "id": "93da9c0f81db2b04",
        "type": "base64",
        "z": "1bc7a6a4da33e4e6",
        "name": "",
        "action": "str",
        "property": "payload",
        "x": 920,
        "y": 560,
        "wires": [
            [
                "48b9a4965183f563"
            ]
        ]
    },
    {
        "id": "580622f812545397",
        "type": "exec",
        "z": "1bc7a6a4da33e4e6",
        "command": "cd /home/iplon/grafana-generate-pdf-nodejs-main/ && node grafana_screenshot.js \"https://igrafana.iplon.co.in/d/gmHArV_Mk/02-daily-energy-run-hours-contribution-sunalpha_vibrant_chittor_480-60kwp-400kw?orgId=20\" vibrantpolymer_admin:Admin@321 output/2.png",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "2",
        "x": 550,
        "y": 400,
        "wires": [
            [
                "b227c8405735dcaa"
            ],
            [],
            []
        ]
    },
    {
        "id": "2fb4e5f31879b55e",
        "type": "exec",
        "z": "1bc7a6a4da33e4e6",
        "command": "cd /home/iplon/grafana-generate-pdf-nodejs-main/ && node grafana_screenshot.js \"https://igrafana.iplon.co.in/d/XDKSVI_Gz/03-energy-meter-sunalpha_vibrant_chittor_480-60kwp-400kw?orgId=20\" vibrantpolymer_admin:Admin@321 output/3.png",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "3",
        "x": 550,
        "y": 460,
        "wires": [
            [
                "eeb346d767da830c"
            ],
            [],
            []
        ]
    },
    {
        "id": "b90fcf1bcb55d7ca",
        "type": "exec",
        "z": "1bc7a6a4da33e4e6",
        "command": "cd /home/iplon/grafana-generate-pdf-nodejs-main/ && node grafana_screenshot.js \"https://igrafana.iplon.co.in/d/bB3tVIlGk/04-energy-meter-frame-sunalpha_vibrant_chittor_480-60kwp-400kw?orgId=20\" vibrantpolymer_admin:Admin@321 output/4.png",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "4",
        "x": 550,
        "y": 520,
        "wires": [
            [
                "43d94f0f348fe473"
            ],
            [],
            []
        ]
    },
    {
        "id": "2ef18ddd06d1e5b7",
        "type": "exec",
        "z": "1bc7a6a4da33e4e6",
        "command": "cd /home/iplon/grafana-generate-pdf-nodejs-main/ && node grafana_screenshot.js \"https://igrafana.iplon.co.in/d/5FqFe4lGk/05-inverter-sunalpha_vibrant_chittor_480-60kwp-400kw?orgId=20\" vibrantpolymer_admin:Admin@321 output/5.png",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "5",
        "x": 550,
        "y": 580,
        "wires": [
            [
                "0e921d98a3e555bb"
            ],
            [],
            []
        ]
    },
    {
        "id": "87890d19ec874f33",
        "type": "file in",
        "z": "1bc7a6a4da33e4e6",
        "name": "6",
        "filename": "/home/iplon/grafana-generate-pdf-nodejs-main/output/6.png",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 730,
        "y": 620,
        "wires": [
            [
                "3108cce0f6906968"
            ]
        ]
    },
    {
        "id": "3108cce0f6906968",
        "type": "base64",
        "z": "1bc7a6a4da33e4e6",
        "name": "",
        "action": "str",
        "property": "payload",
        "x": 920,
        "y": 620,
        "wires": [
            [
                "22f5299900ae048e"
            ]
        ]
    },
    {
        "id": "d5d64d4bd1732ae5",
        "type": "exec",
        "z": "1bc7a6a4da33e4e6",
        "command": "cd /home/iplon/grafana-generate-pdf-nodejs-main/ && node grafana_screenshot.js \"https://igrafana.iplon.co.in/d/247L6V_Gk/06-inverter-frame-sunalpha_vibrant_chittor_480-60kwp-400kw?orgId=20\" vibrantpolymer_admin:Admin@321 output/6.png",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "6",
        "x": 550,
        "y": 640,
        "wires": [
            [
                "87890d19ec874f33"
            ],
            [],
            []
        ]
    },
    {
        "id": "a424bd8a2c614b90",
        "type": "file in",
        "z": "1bc7a6a4da33e4e6",
        "name": "7",
        "filename": "/home/iplon/grafana-generate-pdf-nodejs-main/output/7.png",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 730,
        "y": 680,
        "wires": [
            [
                "d6ff12658892e8d6"
            ]
        ]
    },
    {
        "id": "d6ff12658892e8d6",
        "type": "base64",
        "z": "1bc7a6a4da33e4e6",
        "name": "",
        "action": "str",
        "property": "payload",
        "x": 920,
        "y": 680,
        "wires": [
            [
                "bf3e106e26163474"
            ]
        ]
    },
    {
        "id": "84be3eda7f12737d",
        "type": "exec",
        "z": "1bc7a6a4da33e4e6",
        "command": "cd /home/iplon/grafana-generate-pdf-nodejs-main/ && node grafana_screenshot.js \"https://igrafana.iplon.co.in/d/KThXEcXMz/07-supply-side-management-line-diagram-sunalpha_vibrant_chittor_480-60kwp-400kw?orgId=20\" vibrantpolymer_admin:Admin@321 output/7.png",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "7",
        "x": 550,
        "y": 700,
        "wires": [
            [
                "a424bd8a2c614b90"
            ],
            [],
            []
        ]
    },
    {
        "id": "4faa75c467197206",
        "type": "file in",
        "z": "1bc7a6a4da33e4e6",
        "name": "8",
        "filename": "/home/iplon/grafana-generate-pdf-nodejs-main/output/8.png",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 730,
        "y": 740,
        "wires": [
            [
                "b240824b33abd9d5"
            ]
        ]
    },
    {
        "id": "b240824b33abd9d5",
        "type": "base64",
        "z": "1bc7a6a4da33e4e6",
        "name": "",
        "action": "str",
        "property": "payload",
        "x": 920,
        "y": 740,
        "wires": [
            [
                "87d2288ba2bc4190"
            ]
        ]
    },
    {
        "id": "7320c0bb33cfa96a",
        "type": "exec",
        "z": "1bc7a6a4da33e4e6",
        "command": "cd /home/iplon/grafana-generate-pdf-nodejs-main/ && node grafana_screenshot.js \"https://igrafana.iplon.co.in/d/VgdtCVlMk/08-generation-reports-sunalpha_vibrant_chittor_480-60kwp-400kw?orgId=20\" vibrantpolymer_admin:Admin@321 output/8.png",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "8",
        "x": 550,
        "y": 760,
        "wires": [
            [
                "4faa75c467197206"
            ],
            [],
            []
        ]
    },
    {
        "id": "0d11edd9294333f1",
        "type": "file in",
        "z": "1bc7a6a4da33e4e6",
        "name": "9",
        "filename": "/home/iplon/grafana-generate-pdf-nodejs-main/output/9.png",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 730,
        "y": 800,
        "wires": [
            [
                "a08e329514bbb7b3"
            ]
        ]
    },
    {
        "id": "a08e329514bbb7b3",
        "type": "base64",
        "z": "1bc7a6a4da33e4e6",
        "name": "",
        "action": "str",
        "property": "payload",
        "x": 920,
        "y": 800,
        "wires": [
            [
                "2a68afb690374cba"
            ]
        ]
    },
    {
        "id": "f64f6d329b0ada57",
        "type": "exec",
        "z": "1bc7a6a4da33e4e6",
        "command": "cd /home/iplon/grafana-generate-pdf-nodejs-main/ && node grafana_screenshot.js \"https://igrafana.iplon.co.in/d/9ISmgI_Gz/09-plant-energy-flow-sunalpha_vibrant_chittor_480-60kwp-400kw?orgId=20\" vibrantpolymer_admin:Admin@321 output/9.png",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "9",
        "x": 550,
        "y": 820,
        "wires": [
            [
                "0d11edd9294333f1"
            ],
            [],
            []
        ]
    },
    {
        "id": "f2f3eee2c3b26b0c",
        "type": "file in",
        "z": "1bc7a6a4da33e4e6",
        "name": "10",
        "filename": "/home/iplon/grafana-generate-pdf-nodejs-main/output/10.png",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 730,
        "y": 860,
        "wires": [
            [
                "2f9049f1df8afea5"
            ]
        ]
    },
    {
        "id": "2f9049f1df8afea5",
        "type": "base64",
        "z": "1bc7a6a4da33e4e6",
        "name": "",
        "action": "str",
        "property": "payload",
        "x": 920,
        "y": 860,
        "wires": [
            [
                "354454938cb9b5d4"
            ]
        ]
    },
    {
        "id": "dbbe25e152839962",
        "type": "exec",
        "z": "1bc7a6a4da33e4e6",
        "command": "cd /home/iplon/grafana-generate-pdf-nodejs-main/ && node grafana_screenshot.js \"https://igrafana.iplon.co.in/d/pw7YnSlGz/10-plant-performance-sunalpha_vibrant_chittor_480-60kwp-400kw?orgId=20\" vibrantpolymer_admin:Admin@321 output/10.png",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "10",
        "x": 550,
        "y": 880,
        "wires": [
            [
                "f2f3eee2c3b26b0c"
            ],
            [],
            []
        ]
    },
    {
        "id": "d7d81fd3401c0f3d",
        "type": "file in",
        "z": "1bc7a6a4da33e4e6",
        "name": "11",
        "filename": "/home/iplon/grafana-generate-pdf-nodejs-main/output/11.png",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 730,
        "y": 920,
        "wires": [
            [
                "da9ddc46bc8f6013"
            ]
        ]
    },
    {
        "id": "da9ddc46bc8f6013",
        "type": "base64",
        "z": "1bc7a6a4da33e4e6",
        "name": "",
        "action": "str",
        "property": "payload",
        "x": 920,
        "y": 920,
        "wires": [
            [
                "096245dbcb694e3c"
            ]
        ]
    },
    {
        "id": "896df9a4fbac1202",
        "type": "exec",
        "z": "1bc7a6a4da33e4e6",
        "command": "cd /home/iplon/grafana-generate-pdf-nodejs-main/ && node grafana_screenshot.js \"https://igrafana.iplon.co.in/d/jV27eV_Gz/11-genset-solar-logs-sunalpha_vibrant_chittor_480-60kwp-400kw?orgId=20\" vibrantpolymer_admin:Admin@321 output/11.png",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "11",
        "x": 550,
        "y": 940,
        "wires": [
            [
                "d7d81fd3401c0f3d"
            ],
            [],
            []
        ]
    },
    {
        "id": "6508949e2e8cb4a0",
        "type": "file in",
        "z": "1bc7a6a4da33e4e6",
        "name": "1",
        "filename": "/home/iplon/grafana-generate-pdf-nodejs-main/output/1.png",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 730,
        "y": 320,
        "wires": [
            [
                "cb2af4606a02fbae"
            ]
        ]
    },
    {
        "id": "cb2af4606a02fbae",
        "type": "base64",
        "z": "1bc7a6a4da33e4e6",
        "name": "",
        "action": "str",
        "property": "payload",
        "x": 920,
        "y": 320,
        "wires": [
            [
                "ed452733b276cf0d"
            ]
        ]
    },
    {
        "id": "c8bb5459c1aa6b8d",
        "type": "exec",
        "z": "1bc7a6a4da33e4e6",
        "command": "cd /home/iplon/grafana-generate-pdf-nodejs-main/ && node grafana_screenshot.js \"https://igrafana.iplon.co.in/d/nLgWkIlGk/01-plant-overview-sunalpha_vibrant_chittor_480-60kwp-400kw?orgId=20\" vibrantpolymer_admin:Admin@321 output/1.png",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "1",
        "x": 550,
        "y": 340,
        "wires": [
            [
                "6508949e2e8cb4a0"
            ],
            [],
            []
        ]
    },
    {
        "id": "7c34a7026380f2b1",
        "type": "file",
        "z": "1bc7a6a4da33e4e6",
        "name": "output in PDF",
        "filename": "/home/iplon/grafana-generate-pdf-nodejs-main/output/vibrant.pdf",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1720,
        "y": 400,
        "wires": [
            [
                "0aacbb4833668707"
            ]
        ]
    },
    {
        "id": "ed452733b276cf0d",
        "type": "change",
        "z": "1bc7a6a4da33e4e6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "a1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 320,
        "wires": [
            [
                "28c7c0db9754bae3"
            ]
        ]
    },
    {
        "id": "ea86e2215a641a3a",
        "type": "change",
        "z": "1bc7a6a4da33e4e6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "a3",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 440,
        "wires": [
            [
                "28c7c0db9754bae3"
            ]
        ]
    },
    {
        "id": "28c7c0db9754bae3",
        "type": "function",
        "z": "1bc7a6a4da33e4e6",
        "name": "combine",
        "func": "context.data = context.data || {};\nswitch (msg.topic) {\n    case \"a1\":\n        context.data.a1 = msg.payload;\n        msg = null;\n        break;\n    case \"a2\":\n        context.data.a2 = msg.payload;\n        msg = null;\n        break;\n    case \"a3\":\n        context.data.a3 = msg.payload;\n        msg = null;\n        break;\n    case \"a4\":\n        context.data.a4 = msg.payload;\n        msg = null;\n        break;\n    case \"a5\":\n        context.data.a5 = msg.payload;\n        msg = null;\n        break;\n    case \"a6\":\n        context.data.a6 = msg.payload;\n        msg = null;\n        break;\n    case \"a7\":\n        context.data.a7 = msg.payload;\n        msg = null;\n        break;\n    case \"a8\":\n        context.data.a8 = msg.payload;\n        msg = null;\n        break;\n    case \"a9\":\n        context.data.a9 = msg.payload;\n        msg = null;\n        break;\n    case \"a10\":\n        context.data.a10 = msg.payload;\n        msg = null;\n        break;\n    case \"a11\":\n        context.data.a11 = msg.payload;\n        msg = null;\n        break;\n    case \"a12\":\n        context.data.a12 = msg.payload;\n        msg = null;\n        break;\n    case \"a13\":\n        context.data.a13 = msg.payload;\n        msg = null;\n        break;\n    case \"a14\":\n        context.data.a14 = msg.payload;\n        msg = null;\n        break;\n    case \"a15\":\n        context.data.a15 = msg.payload;\n        msg = null;\n        break;\n    case \"a16\":\n        context.data.a16 = msg.payload;\n        msg = null;\n        break;\n    case \"a17\":\n        context.data.a17 = msg.payload;\n        msg = null;\n        break;\n}\nif (context.data.a1 != null && context.data.a2 != null && context.data.a3 != null && context.data.a4 != null && context.data.a5 != null && context.data.a6 != null && context.data.a7 != null && context.data.a8 != null && context.data.a9 != null && context.data.a10 != null && context.data.a11 != null && context.data.a12 != null && context.data.a13 != null && context.data.a14 != null && context.data.a15 != null && context.data.a16 != null && context.data.a17 != null) {\n    var data_combine = {\n        \"a1\": context.data.a1,\n        \"a2\": context.data.a2,\n        \"a3\": context.data.a3,\n        \"a4\": context.data.a4,\n        \"a5\": context.data.a5,\n        \"a6\": context.data.a6,\n        \"a7\": context.data.a7,\n        \"a8\": context.data.a8,\n        \"a9\": context.data.a9,\n        \"a10\": context.data.a10,\n        \"a11\": context.data.a11,\n        \"a12\": context.data.a12,\n        \"a13\": context.data.a13,\n        \"a14\": context.data.a14,\n        \"a15\": context.data.a15,\n        \"a16\": context.data.a16,\n        \"a17\": context.data.a17\n    }\n    context.data = null\n    return { payload: data_combine };\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 400,
        "wires": [
            [
                "4a927887666d0c6b"
            ]
        ]
    },
    {
        "id": "4b2f629dc828f59c",
        "type": "change",
        "z": "1bc7a6a4da33e4e6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "a4",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 500,
        "wires": [
            [
                "28c7c0db9754bae3"
            ]
        ]
    },
    {
        "id": "48b9a4965183f563",
        "type": "change",
        "z": "1bc7a6a4da33e4e6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "a5",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 560,
        "wires": [
            [
                "28c7c0db9754bae3"
            ]
        ]
    },
    {
        "id": "1f3ded9b95763978",
        "type": "change",
        "z": "1bc7a6a4da33e4e6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "a2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 380,
        "wires": [
            [
                "28c7c0db9754bae3"
            ]
        ]
    },
    {
        "id": "884bda89860988b9",
        "type": "html-to-pdf",
        "z": "1bc7a6a4da33e4e6",
        "name": "",
        "format": "A4",
        "zoom": 100,
        "orientation": "Portrait",
        "width": "",
        "height": "",
        "marginTop": 1,
        "marginLeft": 1,
        "marginBottom": 1,
        "marginRight": 1,
        "marginTopUnits": "cm",
        "marginLeftUnits": "cm",
        "marginBottomUnits": "cm",
        "marginRightUnits": "cm",
        "omitBackground": false,
        "printGraphics": true,
        "x": 1550,
        "y": 400,
        "wires": [
            [
                "7c34a7026380f2b1"
            ]
        ]
    },
    {
        "id": "4a927887666d0c6b",
        "type": "template",
        "z": "1bc7a6a4da33e4e6",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <style type=\"text/css\">\n        @page {\n            size: A4;\n            margin: 0;\n        }\n\n        body {\n            margin: 0;\n        }\n    </style>\n    <style>\n        * {\n            box-sizing: border-box;\n            margin: 0;\n            font-family: Arial;\n        }\n\n        .main {\n            height: 100%;\n            width: 100%;\n        }\n\n        .header {\n            height: 10%;\n            width: 100%;\n            border: 1px solid black;\n            position: fixed;\n        }\n\n        .content {\n            width: 100%;\n            text-align: left;\n            height: 1500px;\n            padding-top: 200px;\n            padding-left: 50px;\n            padding-right: 50px;\n        }\n\n        .date {\n            height: 50%;\n            width: 50%;\n            border: 1px solid black;\n            text-align: center;\n            padding: 10px 10px 10px 10px;\n        }\n\n        .version {\n            height: 50%;\n            width: 50%;\n            border: 1px solid black;\n            text-align: center;\n            padding: 10px 10px 10px 10px;\n        }\n\n        .left {\n            float: left;\n            height: 100%;\n            width: 40%;\n            text-align: center;\n        }\n\n        .logo {\n            float: right;\n            padding: 5px 5px 5px 5px;\n        }\n    </style>\n\n</head>\n\n<body>\n    <script type=\"text/javascript\">\n        window.onload = addPageNumbers;\n            \n                      function addPageNumbers() {\n                        var totalPages = Math.ceil(document.body.scrollHeight / 1123);  //842px A4 pageheight for 72dpi, 1123px A4 pageheight for 96dpi, \n                        for (var i = 1; i <= 11; i++) {\n                          var pageNumberDiv = document.createElement(\"div\");\n                          var pageNumber = document.createTextNode(\"Page \" + i + \" of \" + 11);\n                          pageNumberDiv.style.position = \"absolute\";\n                          pageNumberDiv.style.top = \"calc((\" + i + \" * (297mm - 0.5px)) - 40px)\"; //297mm A4 pageheight; 0,5px unknown needed necessary correction value; additional wanted 40px margin from bottom(own element height included)\n                          pageNumberDiv.style.height = \"16px\";\n                          pageNumberDiv.appendChild(pageNumber);\n                          document.body.insertBefore(pageNumberDiv, document.getElementById(\"content\"));\n                          pageNumberDiv.style.left = \"calc(100% - (\" + pageNumberDiv.offsetWidth + \"px + 20px))\";\n                        }\n                      }\n    </script>\n    <div class=\"main\">\n        <div class=\"header\">\n            <div class=\"logo\">\n                <h3><img src=\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAVMAAACVCAMAAADSU+lbAAABI1BMVEX///8AAAAAQMScnJxNTU3///1oaGj4+Pjo6Oj///w4ODiUlJT///rZ2dn//f6JiYny8vLh4eEyMjIAOMJCQkK0tLTV1dXCwsJ4eHhISEhuhdjIyMinp6eOjo4AQcLv7+9hYWEjIyMaGhpUVFSsrKxwcHB+fn4AQMgPDw9bW1v///WCgoITExO7u7sAQr4sLCwALL0AN8YARLsAMsYAJbwAN7kAIbwALLkAP8wAMcpSd8o/ZMt5lNRBbMN2jdfH0+0AKs2YqeOfrNO3xd7Y4uwjUcSTq9vh7vK3xOdOacmJmd3H1+imut13lMkALrE7XctBYsJOdb+JoM9kgsmps+O5zeJzhNgXRrEAJtBLb8JCYNCVpuZxit7o7/7j9OlJZMLL3+cWAE0ZAAAX00lEQVR4nO1di1vbOLZ3DMIxKG7AgZYSTChQ0wDGeZGEpoWWR5iFlhlaOju7t7f3//8rruS3pSPZSaG0Kb/v2y2DZVk+Ou9zZBTlEXeKw9eDh17CxKFpvnnoJUwa1tqNtw+9hokCQsrRsfnuoZcxHsrzK4ubBIsr89pDryUBpCvvW42Th17GyNBWVje2Cwm8qE2VfvASNMFGGhh9Mtun7K/LlWkGyzvhtSp3jcWrl3OLwhfUZvkbKiujvU11ugBiZ0l+49Yy91pPoHEb/BJni8kBxakN74GVuXn+bgPjM7VdZn+9wq+3Gl6rwe/DYaPKTSuYulAoQiMFWJqRPHRhUXYrdAcwbC1j3HySBK+4tdeR5toON+scP2fEApI3YrEF7OIUMG5bRog0lpYznrn+VHjvPDQeEBFo22vx5Sf0v59tLpWWFrfoj5vs/fioa/7BzQrIVqg8ihnvlMYONzXE5jVulADFjRzP3FgT3L0IjX7GjwM4qjAVXtQqhAciadDo2NX07RidNxoDnZ2Vn3M5vPQ0x1sl8IIVDWjQlJIPEI9D2INvfwkO5sdBGxeys7HPbMP8dkIvekD4sGFeYWbSEj9ntBdPcr5XhLT8g2yez0StVXI/E7Q8yiw4ln84NCoU02mOA8qEqGmLjJu97hHLp5v8nJGWEphcCVKcugeNAI0ZC9C4ibAFTKDBQ1+y4yC1+yK4NuVzV/QWG0seB84m7zeGbbtbRsysW/ykkY4a5c18LCSnhth8PQ9Jq6M9FCDqkmAoOw5Su8F05UAJrsZXVrx3SjH7Sde2MMunL7g5w32C1EImksICmW3ATHBYBe6TYi73rrBO7Q4wZjO6NB+8RWXn5c6rgseiGmNlB6b5BjF8Cvhn0baDtjMLCdmGLqdV/N2QFNCTgPR5YH0TSG2XwtXXwrfYDMlP/plJM/u1bd4ojI0CTHvkgz0b/eWSzgbI5tlBZV6DnwIbOq6LBjLjxHOtBDtVChe96N+9mHoH7VhtXLA0BXReZLxh25mFaGrA+oGhTBqgYcsEo1LLwoFp4YfUbsW/tBoQdzFc9LSvX0sp9+2o23NPWdkHdF60B2O9Xew1QC5iJYukYPyTA2n+F/sNac8LUruBeqgF9pa8xe5mtTpHfFWP24oJQaYev91RkJGaFKDbhmwTcyBimQXxgoUwdsd7aLxqD1B05CMdGkPaLYibKoVXzFvUPEcxQVMDK3/Y5jfE0BSgW2REx1JshYjPQTaXpj0UsW0heLlIou49OD4qMOHGK/E0KYbeF09UKdSYt9j3dEEplkRsKF3b/BfrSVXXFxisRzYUitZ31yMIV10UbhcbaHEQyuxsnC0RuEkpd164tnTADm57cG3Z907pWyytrRWpM+L5LLGNMjC67PaIiRoB28ADk4mgeci5i8eAbD7GIwsFxgMr8i41M7VMKSeDDmgLQyWy5c9YDWcuBNuxFT3JQPo70+5+HYGkYGYxnQaCNW5AACj1uQE8JwGRGmQcMNiqJ3xUqe+QmAza9lD1Vf2RM+GiwxcrFGaCEcTcf1OJiRoBUFKKTX6CvBhIF8RzfMCTTSsgiw3uZcL8CQSIWwOk3cKtmfd9hN3gBqomqABWE5uH6sdqh0+eSgAxzQwzBsw8+ZoNZHNxDplCkAYDdDBkyhK5DWlSKyH80LaXE5No3lt4NKTqZMkjbeQOInR7bJvnuQmqwJlFLvkJLdqnKZh7FWWQPQj8YchVABVmHEvBE4WI9gjiiN1okhXqFu6Fiy76K9lIRQ0D0zaP2KSUDNByuLoaNMh3q6Go/QX3kCRg340VDR+Q7xstLiP3EzEGtO2JgGyDz048SwcNZ7bVLxvMmCczLGrhbmewgoSmU+GKctInxDpIAbgIDO1YxNBgUBxjQTZJgopagSUq0b+v4v9Cw7bdu2aDfYAk0QOhpNQCczvMEYtCakuTUlInggVk2SPjk5X7CW0elHJPSiJlq1psIJ/upkiqKFd9tfGBpSmgUCLXGbKdXJocNLClcD0cpHUTcC6RtoA2M0rNrkMzJRAKP3QtJRaeJzzzlChUrTRFY65Y8BHxpA5Nu3WiM/oU2O1IgKCkFGsu4Lqqp2DA3Ku0KwecSxTLQl5FLbiWmfsJPARo21lJTLkilYRri0iw/9HqtYdMsC9L9IELY70aMBno+xoQ13GqIwnYsIhGQzQNA4rsYpYvz9C2c5JYngrM4faztIFG+KhvqWcKWziRJPpA7ca8F+wGzgnJLa2bgGH8qmg0RNPQcczO/fjCD6VjILkoLz3dW2HjDqNeH3Qanbds7hQQtyh4hF4xFVnOi0ocHjODbM41cSQBthEJUy6Q3FZkMwEjoW3PyPHEwFhpWmr/om6kiQqIW2Q7oUhl90UE8Xp9AQfZXFo3gW7YF46G5LsimYkB5ToDupCXpISopweWdTDUGbsvK+2v51gZCJ8ZQUmWLRGM9YWiD+rCQIwgtbDNBNrUQ4O2fVn4QBY6Ojdtp+llUpIA/LgweBQXdLLg23aIzaV1E5Cxxb4XlIyo+Zcg13WaITSlHbTt4k3kaKpc23bnrcIWToAsd3hppEaQJALfD1IOcBNOgBF9LyiRH9hsSM8/YYPZNXjb5TmeJNDwgKhTrkEasCNR8Dhu3STYFJDNBd1i4gdKelag+YPthKKjPXb+TVi7jdAbe94n6pTr6gF4MUovSAo6UjwVTp2xYMifrQlHg1HaopjcRTY8mQa3fVf4wDRoVe9PtWddK2wCBWCNcZp5kwj5HEzYS5cJSaK4yAqawCUxuRUuk6VlNPNKoWNj2LbsBn/eBPDjxmvmjRAJK8Tmr7gFJAFVWsStqmC04S8eUsyUVgwHLULKJm9vrG4o562mfXDJBvuypNR4zSCxdEMX5QuGaCpMY4FbHjizUHREH83w7wz0wLzHNwgp/zRV1ayzZWhgYVHwOHIzr4eSZOqsBUOvKIy7wBAuWDyUrfYezYRNUN0k78krHQ+PCUmf11k2BXgxeon8XcoJlGRTZzXzQvpUxKdw4mlPfM17dLYrk6s3lgLjd4RNWycGZmwUsNkRVTIfz6OSqDWN0cwL2X1RlRWmjr9nUOzgJ2GzbUSe3lgPCJ3Zqu1qiKWpJCk1RjNvSltCbA51iCeQp0obAGbTIEqDPILg0ZltitIcTxL6Zdu2rdcKZpOn/JxRtJtR0OHxJCXYYHYio5kXMteCo1RwT5WkU6MqJncKuQ9cokHD6TU+c78HeDEKHkdr5t1YNDKnBkquaeRPZAkOGAW7CpmeYJpM4c9LUkXp2JZ6MOR+DTBGFDxC7W4Qtpe3plZ4YzlOMy8YzUIKDuzFiPQEOE24wgzLm9kbG+HkY89RX/OFfcCPC91LcGFLZRZCzwNi81nR4BBg4ykfzhqC/Q7EAIqOokdnCL80xxMDI/xX3+oBQRTkx4WXctRNpFgHbucKPSxAfcPlMw0Br4UDIVMXhbgCFg8hzfHEwLSu79jHvOgDxjMKHiFfJX+2FrbLmQuGQzdG+osirRQGFFCnRlxjkgt/vqSUgZXzhmXbfLMExIuROwTZzpyCQQEmpRZmhfC7iAUV5JQLJjxcNB2OgC7GNSa58Od8PaQ0VdU23ymcPgWmj4JH6IH5s7Wj5179aEFQmtuNOHxFzGYh2URJqQBS4ZfneGLgI1dV1YNTnk8BXgx9TNDnGCFbm/dDCiGCrKW4tLBV3durSjr9YyGSlKk8yD4IkDcphQ9JXGqf1RF3wpw3s1HwCDqA+Uk6cmAbindeD0688swIVxbM5ElK0cLzWle17MY55thUdiQSyvrU8pN05NxrGGGNmWBMhgaQdkhqLZnw5zmwbSCk3DRU0OGXHomECjp5BQOeWo4owhorG5YM08GgONVHLD49nyspRXgT9x2157zmuBT046RJqYzIMomRj+BGscN4Z/gSni8UFKeTBmLhz8jx+EBYuer0VKt1BVwE/Djpm+X6koGPUT+kkOhMEx+/EyNpgiBfKZ3cEvct5DiwrXhZPtVW7a4GdJzzc0bRLmQ7xU02eaaWI1nJG/3DFtPJR0OxGKO1hB+uySWJuu45UuYnNnGqgLwYvRpU0MmdrR1DgJOtdNr6iDennUqoU4Mx50Lhz1U3oQdMCU3dI52nqSwpBaVuc2drx/iQQqqVrjzaGd60EpQmpWRjCjlyPB6M4YFq26rD+/ugHzdSM68EwkO2IjDvDNXoRGDkGooauD5igfBnHdj2gZ53CJ+2zhHApwAvhpe+Nyk1Ck0optkJZJ+TS2GbVYFQUMzlwwRylHVg28fwwLIttT3EvD6VJaUg28m9txgjf0iBL+TlrNzw2UMoKOa0lkD480nigPhRVusvhOrcJdmp/e9MSo38IQUgObOWI2NQAeoq0Dh+GNwKluPVsDHskkjfcW+hq7KkFGQ7c2ZrBVPLAR6XzPr64SyUJgODYn4YKPwZB7Y9YDxoEaOvOuBpSIAXw1fLccJcilGTUiIGKUnyUDOwLwnlC4AaE6idcjTzIqwdWKpq9d+DNJ3iEIn+/JzkYg7wd8shtg3aHmitaosiT3IFmB6SsE3gDfOUodGgQdm0XwYcKRC8b/AzoLT5LKEFKs+qP/ibxymU203iSDU+Qc7pL4e1eYIR9M894a3aI7LfPtUngaY/A3Q0dJ0eCfX/QI8kvRsYWPlESya2e/TQS5kYIHx6QOxTj56IesTdACtvTGr0W1ejfKrjEWLUET46piS1G/Wf00H65YANg376hNAUKpc+Yiyg+nsvKlU72iOb3g0wGtIOKdVqvMPcef0AK5XlALPFuR2pMz01y1WhFyvLCyPk/RkUg2fLP+Hzc8FQaPLEstWuBiWjKRLp8JIyJ//e2xMuAU4zFSPk/si2JDcgrlblK1b8FECXH3vUkTL/S1gWHrK0VCrN7xeqpVKR5sal7RBPOPptFaqjhYmryTLvemGx5GNplL8l85BACnrdp618zkGdPRORxkKQMZ2SF7Z5mr4cJZtKMZfMta/nP4iQAz/AYCASigYGqnXDt52lENO04n3+zOPWai3+2YdP02LN/0iapigzC4VpOuCZ/820Rf8Oyrla8CE1yn+afwP9/epCYXkm2pj1VB3d/wxbbS/+OZiDrmCxFv8cTM6tcueVV/PYe5WvnDQOiIFyae6EOFJZflRM0wBTiRx9TFSPplGeetbw6xPzfvVxPr5jTdHCtrztclym317z2xOjKkKKplH19ilXbp1KNKWQn9e245+jZ1Zph5XH9tWMj4B+BwhrvjEd1VZV91zhq1ApxDRdXSsWiyvUZkwX9orez3EB16PpXmGLjlmbJVRc8/SpVigUi2Vicuj44torQpVSYdkbVCM/LxUq0c/ll4WpWHWmaEp2hY6q0jI9nZDA/8dbDbGedJIlupo1/0ErtAW+UliJxizfL02pRapfHVM3yjYdnJU4jWnqMeU8rTJs+C9cTNjkgKZ+H0qFVhef0bKtlq55zJDJSkF1dYv8vBT8TH/P2qgETbf9hoY9n6ber/x/vNXM+fclVzNP5132a5zemHumKTFPuOw6RO6tHth2lgZM06mnBNURaErHP12ZTtB0xqPp7Er4+7uhaXHPX9l0RMcfQVP6AZk3XsHEds6yg1KYpgE42RfRNNKILE0TmvIuaBqVRH8sTYnN/9ylDVKq6eb4dixM02dTcxSMjRLStFTYpzdMVTia7vsTrc7fDU0rhZd0uh2WphVfD2zeE00N9JWS1FJt848cVSiJPk1CTtOk3kzTNNG5chc0jejI0HSr8IL+qYDde7NR117WlFahRBFUAndK0y3P7gtpmvD5t2Of3yD/4f3wVERT7741n089fixSu5+kadSpcE/69EOfeqa22niLc1T2IJpuFfa9Q2AvYg9aTtNiYdu7YZdsRpKm88HvFyoapen6ftS/mmhTKZE1eKP26TMgmq57c9BWrpp/Zm2hUGNoqmiGYdyTPsXo9sCi2tTudXJ1p24HjUqr/nLmvVbo5dCxjoK+l7TVay/o89ynNN2i7BPaqDAds0h51vcWqK8a/Z62rO+kTq1EDWZL/l8MpKA5quBTtJGejn1+71RmsDL6iNmQpnHz9n3QFOlo+LHleJLf/ZwrE60F2dXwLyH7/2geUsPIf2nBEWitHN0YDtLiO6KJjPREzN9a1rT0Nfbu6J85srfxariRBv23uOOZwtp98KmBr1XHpnzauJbH+b8OVvMcIAp0Sf6j9/lgYB3Vv3R6Kq2YWMRA3fH8D4XSXp6e0CUaC+zd9Z+PN7CBiWfqGSi7dYMmop3ngYH1Ov2MjENJ2vtbqT/S9C4wdEk82iOCb7Uv2W+cPmJ0IEPXznq+s2+1Bg+9nEmAger6ny3bp2nPwTkiqEdkwNDxoWn5JFXdI+4vF/+aQFg3kA4Ceee97w86QhgNgiif2PwB/4mOXxQI1w0YKKN2+b0P1gmb3riB4KtWjqzpLwLCpxgJgO9XFo26fvNvJ5B869+nk8KlxD/UDp9/+fTlOYAvJ0jR74esBqJf4L1pN3u2Vy6x2lcTw6a0qH51oDZMEAcnJMi5p+cSNr1pq6HFNw+BM5C/LrAyMHuOyoMe97yo3xdR68qHkKTE21c1/JOexxkHGOno2rYBmqpELg/e34/p1w08aEcP9VIn9+pj/HDgr6afFgLQ/kDbbO8WBrV/h25AT7J37lVGi8SvB6N+1LYskFUd1f2C7/pIDQmXtNdm8Dxbtcy3E6VMPZAXen8AcqnaazY619BXXr4Pw7MoerLU1jddvy+t/WDQifs9aIHC79iqbTZPFcO4K7rS2OzWtW1fLqh4NMsoqz3q1wT6Zqqg9Ktqs9G9uDP3nzCkfnPgJB7VOr2bmX86YENr2j2QpLQtzH17V74/1rV/+lbku9HTevcUVjw4DIyHHc8IA0Sl3yA9O/Wk9nscHgMRBYJuOw01NoiWezVhTlQap31HIP2UsO55nRjs70hwIoMwKR50U9LQBT4VPUnQL4+FJKV67z9DYp7HpinS9bp+2WzZyY3rDya7/EQk87YtJimJyQ9uvoMAyMDDwbGjWomYzf2kTJxjmgZhwYu2IJzy1WqreavQPzwyWhCAMFZwHetXnQbRoxFJLds9JDHqBCtTH/pFFzb+Ppye++aUmJTRPHQS3BKq3p71mUSNeTjx9KTQ8UVbYqeoA9A+PEX10XSAXkdHf7YdJy0D7iHi/nbZJMLQESWqQP799LHZ/uvSG6lnped0rwRDGPXi2u2pXl9EIPWqbfU/8X9rZ2Jx6wpVakCSxvH1BUaYnhGTUhXheh2j8vsmMyNtjOq+/WEv9BMAX7p2T2yqaK66aXVbHy4VmrKT0ZR6XkfPuy2bSc8Shm2/m2wnKg3ig546pkj8fTaj2dZG2xlcyvUhPnrb6UIT9NxzPPkGP43ytWk7cO4/yW4N1zz8fKrRP+auY++4PXGb6A+EP8uX//2j65oQl9u97smEhvgSYOOTK5P+GGanb17/z/nJ5VetTmvaivL16+XVu+d/u/0OvCmW3WieTnKILwCqKzeCJDVHIOIlOJ1W2+1+7DiO0/nYbbuNRqNHO/WgXbGd/psy98dKfwPQ455HrYblNOQktel3X8n/e0V68q9NYVn0f1YPKMbYvaZ9TNOGEx6RCoCU/71u9Zq5FEBuNNWWe/t70pOCJqA+HPey7NRoaDTOhiMGthMF4uygS8ekhuaOCGub7g3G35EunAQYWP90oPasfC6ADGQK2279fVn/3bxSFkg36splsyHLVOVlUafXc2+IF/sbC74PjOhBm5u2+d3CbzsH/5zSUOD3FnwKhGgP9dfDtldStcZRAfRO2278fUET2eg39PVBGPX60esucT5lOQAhLIfEsJ3P6Hd088Xw0voXr93M+B9mU7v78Z1GtMgjTRNAOqLp59tvxyYt0DlwsxrIoLQZqvPek/pHRQrAQP/3vNs3rV5ON8BuqFarfX31+4ZN2dCxrpTfn7WFbVUco7qNwSltjHzolf/MICpAQaf/ctwGkBZlmdTtPj/Rqd6YkHNk9wniDZ2ev+72KV1pBioOXS3VS0vZZqPfPhvcImVijpD9GGiX7w+drtsyzY7p+1iWatqmSdiz8+eHk6FX+3t0RnOCfgMOe/V99PXy4t3g+T9nXonZOntz+Pbd58uvlJAIB0n/e8D/A9ZeDwT394NkAAAAAElFTkSuQmCC\" class=\"hello\" width=\"200\" height=\"90\" >\n                </h3>\n            </div>\n            <div class=\"left\">\n                <div class=\"date\">\n                    <h3>\n                        <script>\n                            document.write(new Date().toLocaleDateString());\n                        </script>\n                    </h3>\n                </div>\n                <div class=\"version\">\n                    <h3>version 1.0</h3>\n                </div>\n            </div>\n        </div>\n        <p style=\"page-break-after: always\"></p>\n        <div class=\"content\">\n            <style>\n                table,\n                th,\n                td {\n                    text-align: center;\n                    border: 1px solid black;\n                }\n            </style>\n            <h2>VERSION HISTORY</h2>\n            <br />\n            <table style=\"width:100%\">\n                <tr>\n                    <th>VERSION</th>\n                    <th>IMPLEMENTED BY</th>\n                    <th>REVISION DATE</th>\n                    <th>REASON</th>\n                </tr>\n                <tr>\n                    <td>1.0</td>\n                    <td>POORNIMA</td>\n                    <td>\n                        <script>\n                            document.write(new Date().toLocaleDateString()); \n                        </script>\n                    </td>\n                    <td>REPORT</td>\n                </tr>\n            </table>\n            <p style=\"page-break-after: always\"></p>\n            <br /></br /><br /><br /><br /><br /><br /><br />\n            <h2>Table of Contents</h2>\n            <br /><br />\n            <table style=\"width:100%\">\n                <tr>\n                    <th>S.NO</th>\n                    <th>TITLE</th>\n                    <th>PAGE NO</th>\n                </tr>\n                <tr>\n                    <td>01</td>\n                    <td style=\"text-align:left\">Aim</td>\n                    <td>3</td>\n                </tr>\n                <tr>\n                    <td>02</td>\n                    <td style=\"text-align:left\">Plant Overview</td>\n                    <td>3</td>\n                </tr>\n                <tr>\n                    <td>03</td>\n                    <td style=\"text-align:left\">Daily Energy / Run Hours Contribution</td>\n                    <td>3</td>\n                </tr>\n                <tr>\n                    <td>04</td>\n                    <td style=\"text-align:left\">Energy Meter</td>\n                    <td>4</td>\n                </tr>\n                <tr>\n                    <td>05</td>\n                    <td style=\"text-align:left\">Energy Meter Frame</td>\n                    <td>4</td>\n                </tr>\n                <tr>\n                    <td>06</td>\n                    <td style=\"text-align:left\">Inverter</td>\n                    <td>5</td>\n                </tr>\n                <tr>\n                    <td>07</td>\n                    <td style=\"text-align:left\">Inverter Frame</td>\n                    <td>5</td>\n                </tr>\n                <tr>\n                    <td>08</td>\n                    <td style=\"text-align:left\">Supply Side Management Line Diagram</td>\n                    <td>6</td>\n                </tr>\n                <tr>\n                    <td>09</td>\n                    <td style=\"text-align:left\">Generation Reports</td>\n                    <td>6</td>\n                </tr>\n                <tr>\n                    <td>10</td>\n                    <td style=\"text-align:left\">Plant Energy Flow</td>\n                    <td>7</td>\n                </tr>\n                <tr>\n                    <td>11</td>\n                    <td style=\"text-align:left\">Plant performance</td>\n                    <td>7</td>\n                </tr>\n                <tr>\n                    <td>12</td>\n                    <td style=\"text-align:left\">GenSet - Solar Logs</td>\n                    <td>8</td>\n                </tr>\n                <tr>\n                    <td>13</td>\n                    <td style=\"text-align:left\">Weather Station</td>\n                    <td>8</td>\n                </tr>\n                <tr>\n                    <td>14</td>\n                    <td style=\"text-align:left\">System View</td>\n                    <td>9</td>\n                </tr>\n                <tr>\n                    <td>15</td>\n                    <td style=\"text-align:left\">Documentation</td>\n                    <td>9</td>\n                </tr>\n                <tr>\n                    <td>16</td>\n                    <td style=\"text-align:left\">DGR_Report</td>\n                    <td>10</td>\n                </tr>\n                <tr>\n                    <td>17</td>\n                    <td style=\"text-align:left\">Monthly/Yearly_Report</td>\n                    <td>10</td>\n                </tr>\n                <tr>\n                    <td>18</td>\n                    <td style=\"text-align:left\">Inverter PAC/IDC Heatmap</td>\n                    <td>11</td>\n                </tr>\n            </table>\n            <p style=\"page-break-after: always\"></p>\n            <br /></br /><br /><br /><br /><br /><br /><br />\n            <h3>01. Aim</h3>\n            <br />\n            <p>This report gives an overview for monthly iPLON portal status update of your plant</p>\n            <br />\n            <h3>02. Plant Overview</h3>\n            <br />\n            <div style=\"text-align: center;\">\n                <img src=\"data:image/jpeg;base64,{{{payload.a1}}}\"width=\"650\" height=\"370\">\n            </div>\n            <br />\n            <h3>03. Daily Energy / Run Hours Contribution</h3>\n            <br />\n            <div style=\"text-align: center;\">\n                <img src=\"data:image/jpeg;base64,{{{payload.a2}}}\"width=\"650\" height=\"370\">\n            </div>\n            <br />\n            <p style=\"page-break-after: always\"></p>\n            <br /></br /><br /><br /><br /><br /><br /><br />\n            <h3>04. Energy Meter</h3>\n            <br />\n            <div style=\"text-align: center;\">\n                <img src=\"data:image/jpeg;base64,{{{payload.a3}}}\"width=\"650\" height=\"400\">\n            </div>\n            <br />\n            <h3>05. Energy Meter Frame</h3>\n            <br />\n            <div style=\"text-align: center;\">\n                <img src=\"data:image/jpeg;base64,{{{payload.a4}}}\"width=\"650\" height=\"400\">\n            </div>\n            <br />\n            <p style=\"page-break-after: always\"></p>\n            <br /></br /><br /><br /><br /><br /><br /><br />\n            <h3>06. Inverter</h3>\n            <br />\n            <div style=\"text-align: center;\">\n                <img src=\"data:image/jpeg;base64,{{{payload.a5}}}\"width=\"650\" height=\"400\">\n            </div>\n            <br />\n            <h3>07. Inverter Frame</h3>\n            <br />\n            <div style=\"text-align: center;\">\n                <img src=\"data:image/jpeg;base64,{{{payload.a6}}}\"width=\"650\" height=\"400\">\n            </div>\n            <br />\n            <p style=\"page-break-after: always\"></p>\n            <br /></br /><br /><br /><br /><br /><br /><br />\n            <h3>08. Supply Side Management Line Diagram</h3>\n            <br />\n            <div style=\"text-align: center;\">\n                <img src=\"data:image/jpeg;base64,{{{payload.a7}}}\"width=\"650\" height=\"400\">\n            </div>\n            <br />\n            <h3>09. Generation Reports</h3>\n            <br />\n            <div style=\"text-align: center;\">\n                <img src=\"data:image/jpeg;base64,{{{payload.a8}}}\"width=\"650\" height=\"400\">\n            </div>\n            <br />\n            <p style=\"page-break-after: always\"></p>\n            <br /></br /><br /><br /><br /><br /><br /><br />\n            <h3>10. Plant Energy Flow</h3>\n            <br />\n            <div style=\"text-align: center;\">\n                <img src=\"data:image/jpeg;base64,{{{payload.a9}}}\"width=\"650\" height=\"400\">\n            </div>\n            <br />\n            <h3>11. Plant performancen</h3>\n            <br />\n            <div style=\"text-align: center;\">\n                <img src=\"data:image/jpeg;base64,{{{payload.a10}}}\"width=\"650\" height=\"400\">\n            </div>\n            <br />\n            <p style=\"page-break-after: always\"></p>\n            <br /></br /><br /><br /><br /><br /><br /><br />\n            <h3>12. GenSet - Solar Logs</h3>\n            <br />\n            <div style=\"text-align: center;\">\n                <img src=\"data:image/jpeg;base64,{{{payload.a11}}}\"width=\"650\" height=\"400\">\n            </div>\n            <br />\n            <h3>13. Weather Station</h3>\n            <br />\n            <div style=\"text-align: center;\">\n                <img src=\"data:image/jpeg;base64,{{{payload.a12}}}\"width=\"650\" height=\"400\">\n            </div>\n            <br />\n            <p style=\"page-break-after: always\"></p>\n            <br /></br /><br /><br /><br /><br /><br /><br />\n            <h3>14. System View</h3>\n            <br />\n            <div style=\"text-align: center;\">\n                <img src=\"data:image/jpeg;base64,{{{payload.a13}}}\"width=\"650\" height=\"400\">\n            </div>\n            <br />\n            <h3>15. Documentation</h3>\n            <br />\n            <div style=\"text-align: center;\">\n                <img src=\"data:image/jpeg;base64,{{{payload.a14}}}\"width=\"650\" height=\"400\">\n            </div>\n            <br />\n            <p style=\"page-break-after: always\"></p>\n            <br /></br /><br /><br /><br /><br /><br /><br />\n            <h3>16. DGR_Report</h3>\n            <br />\n            <div style=\"text-align: center;\">\n                <img src=\"data:image/jpeg;base64,{{{payload.a15}}}\"width=\"650\" height=\"400\">\n            </div>\n            <br />\n            <h3>17. Monthly/Yearly_Report</h3>\n            <br />\n            <div style=\"text-align: center;\">\n                <img src=\"data:image/jpeg;base64,{{{payload.a16}}}\"width=\"650\" height=\"400\">\n            </div>\n            <br />\n            <p style=\"page-break-after: always\"></p>\n            <br /></br /><br /><br /><br /><br /><br /><br />\n            <h3>18. Inverter PAC/IDC Heatmap</h3>\n            <br />\n            <div style=\"text-align: center;\">\n                <img src=\"data:image/jpeg;base64,{{{payload.a17}}}\"width=\"650\" height=\"400\">\n            </div>\n            <br />\n        </div>\n    </div>\n</body>\n\n</html>",
        "output": "str",
        "x": 1400,
        "y": 400,
        "wires": [
            [
                "884bda89860988b9"
            ]
        ]
    },
    {
        "id": "22f5299900ae048e",
        "type": "change",
        "z": "1bc7a6a4da33e4e6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "a6",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 620,
        "wires": [
            [
                "28c7c0db9754bae3"
            ]
        ]
    },
    {
        "id": "bf3e106e26163474",
        "type": "change",
        "z": "1bc7a6a4da33e4e6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "a7",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 680,
        "wires": [
            [
                "28c7c0db9754bae3"
            ]
        ]
    },
    {
        "id": "87d2288ba2bc4190",
        "type": "change",
        "z": "1bc7a6a4da33e4e6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "a8",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 740,
        "wires": [
            [
                "28c7c0db9754bae3"
            ]
        ]
    },
    {
        "id": "2a68afb690374cba",
        "type": "change",
        "z": "1bc7a6a4da33e4e6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "a9",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 800,
        "wires": [
            [
                "28c7c0db9754bae3"
            ]
        ]
    },
    {
        "id": "354454938cb9b5d4",
        "type": "change",
        "z": "1bc7a6a4da33e4e6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "a10",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 860,
        "wires": [
            [
                "28c7c0db9754bae3"
            ]
        ]
    },
    {
        "id": "096245dbcb694e3c",
        "type": "change",
        "z": "1bc7a6a4da33e4e6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "a11",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 920,
        "wires": [
            [
                "28c7c0db9754bae3"
            ]
        ]
    },
    {
        "id": "f78721c5da7dee40",
        "type": "file in",
        "z": "1bc7a6a4da33e4e6",
        "name": "12",
        "filename": "/home/iplon/grafana-generate-pdf-nodejs-main/output/12.png",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 730,
        "y": 980,
        "wires": [
            [
                "4286728175228204"
            ]
        ]
    },
    {
        "id": "4286728175228204",
        "type": "base64",
        "z": "1bc7a6a4da33e4e6",
        "name": "",
        "action": "str",
        "property": "payload",
        "x": 920,
        "y": 980,
        "wires": [
            [
                "32c7b647efa8482d"
            ]
        ]
    },
    {
        "id": "9c7e86584a674cb3",
        "type": "exec",
        "z": "1bc7a6a4da33e4e6",
        "command": "cd /home/iplon/grafana-generate-pdf-nodejs-main/ && node grafana_screenshot.js \"https://igrafana.iplon.co.in/d/KUIm4IlGk/12-weather-station-sunalpha_vibrant_chittor_480-60kwp-400kw?orgId=20\" vibrantpolymer_admin:Admin@321 output/12.png",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "12",
        "x": 550,
        "y": 1000,
        "wires": [
            [
                "f78721c5da7dee40"
            ],
            [],
            []
        ]
    },
    {
        "id": "32c7b647efa8482d",
        "type": "change",
        "z": "1bc7a6a4da33e4e6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "a12",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 980,
        "wires": [
            [
                "28c7c0db9754bae3"
            ]
        ]
    },
    {
        "id": "b9d83f369d6b77db",
        "type": "function",
        "z": "1bc7a6a4da33e4e6",
        "name": "merge",
        "func": "const merger = new pdfMergerJs();\n\n(async () => {\n    await merger.add('/home/iplon/grafana-generate-pdf-nodejs-main/output/Frontpage.pdf');  //merge all pages. parameter is the path to file and filename.\n    await merger.add('/home/iplon/grafana-generate-pdf-nodejs-main/output/vibrant.pdf');\n\n    await merger.save('/home/iplon/grafana-generate-pdf-nodejs-main/output/sunalpha_vibrant.pdf'); //save under given name and reset the internal document\n})();\nreturn msg\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "pdfMergerJs",
                "module": "pdf-merger-js"
            },
            {
                "var": "pdfLib",
                "module": "pdf-lib"
            },
            {
                "var": "path",
                "module": "path"
            }
        ],
        "x": 970,
        "y": 200,
        "wires": [
            [
                "f7fcbf6ba6fa3412"
            ]
        ]
    },
    {
        "id": "c7ec19910f65adcc",
        "type": "file in",
        "z": "1bc7a6a4da33e4e6",
        "name": "13",
        "filename": "/home/iplon/grafana-generate-pdf-nodejs-main/output/13.png",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 730,
        "y": 1040,
        "wires": [
            [
                "3b7fc26fa3ecae29"
            ]
        ]
    },
    {
        "id": "3b7fc26fa3ecae29",
        "type": "base64",
        "z": "1bc7a6a4da33e4e6",
        "name": "",
        "action": "str",
        "property": "payload",
        "x": 920,
        "y": 1040,
        "wires": [
            [
                "7c47862ce8181dc8"
            ]
        ]
    },
    {
        "id": "b7e1bc99553a8120",
        "type": "exec",
        "z": "1bc7a6a4da33e4e6",
        "command": "cd /home/iplon/grafana-generate-pdf-nodejs-main/ && node grafana_screenshot.js \"https://igrafana.iplon.co.in/d/0rYXnI_Gk/13-system-view-sunalpha_vibrant_chittor_480-60kwp-400kw?orgId=20\" vibrantpolymer_admin:Admin@321 output/13.png",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "13",
        "x": 550,
        "y": 1060,
        "wires": [
            [
                "c7ec19910f65adcc"
            ],
            [],
            []
        ]
    },
    {
        "id": "7c47862ce8181dc8",
        "type": "change",
        "z": "1bc7a6a4da33e4e6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "a13",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 1040,
        "wires": [
            [
                "28c7c0db9754bae3"
            ]
        ]
    },
    {
        "id": "070c448976d3ced0",
        "type": "file in",
        "z": "1bc7a6a4da33e4e6",
        "name": "14",
        "filename": "/home/iplon/grafana-generate-pdf-nodejs-main/output/14.png",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 730,
        "y": 1100,
        "wires": [
            [
                "9d47ac9bb42a9479"
            ]
        ]
    },
    {
        "id": "9d47ac9bb42a9479",
        "type": "base64",
        "z": "1bc7a6a4da33e4e6",
        "name": "",
        "action": "str",
        "property": "payload",
        "x": 920,
        "y": 1100,
        "wires": [
            [
                "0d794cc88a3b7fad"
            ]
        ]
    },
    {
        "id": "fca16321d65c857f",
        "type": "exec",
        "z": "1bc7a6a4da33e4e6",
        "command": "cd /home/iplon/grafana-generate-pdf-nodejs-main/ && node grafana_screenshot.js \"https://igrafana.iplon.co.in/d/ScuNBWjGk/14-documentation-sunalpha_vibrant_chittor_480-60kwp-400kw?orgId=20\" vibrantpolymer_admin:Admin@321 output/14.png",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "14",
        "x": 550,
        "y": 1120,
        "wires": [
            [
                "070c448976d3ced0"
            ],
            [],
            []
        ]
    },
    {
        "id": "0d794cc88a3b7fad",
        "type": "change",
        "z": "1bc7a6a4da33e4e6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "a14",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 1100,
        "wires": [
            [
                "28c7c0db9754bae3"
            ]
        ]
    },
    {
        "id": "535c8880aca73174",
        "type": "file in",
        "z": "1bc7a6a4da33e4e6",
        "name": "15",
        "filename": "/home/iplon/grafana-generate-pdf-nodejs-main/output/15.png",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 730,
        "y": 1160,
        "wires": [
            [
                "0c9180d9aea3fbd8"
            ]
        ]
    },
    {
        "id": "0c9180d9aea3fbd8",
        "type": "base64",
        "z": "1bc7a6a4da33e4e6",
        "name": "",
        "action": "str",
        "property": "payload",
        "x": 920,
        "y": 1160,
        "wires": [
            [
                "5ce87ca99d3b6bc1"
            ]
        ]
    },
    {
        "id": "4f14d334d64a14f1",
        "type": "exec",
        "z": "1bc7a6a4da33e4e6",
        "command": "cd /home/iplon/grafana-generate-pdf-nodejs-main/ && node grafana_screenshot.js \"https://igrafana.iplon.co.in/d/odzT5aD4k/15-dgr_report-sunalpha_vibrant_chittor_480-60kwp-400kw?orgId=20\" vibrantpolymer_admin:Admin@321 output/15.png",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "15",
        "x": 550,
        "y": 1180,
        "wires": [
            [
                "535c8880aca73174"
            ],
            [],
            []
        ]
    },
    {
        "id": "5ce87ca99d3b6bc1",
        "type": "change",
        "z": "1bc7a6a4da33e4e6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "a15",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 1160,
        "wires": [
            [
                "28c7c0db9754bae3"
            ]
        ]
    },
    {
        "id": "c355fcc50d3657a6",
        "type": "file in",
        "z": "1bc7a6a4da33e4e6",
        "name": "16",
        "filename": "/home/iplon/grafana-generate-pdf-nodejs-main/output/16.png",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 730,
        "y": 1220,
        "wires": [
            [
                "774cfdaaa3aae027"
            ]
        ]
    },
    {
        "id": "774cfdaaa3aae027",
        "type": "base64",
        "z": "1bc7a6a4da33e4e6",
        "name": "",
        "action": "str",
        "property": "payload",
        "x": 920,
        "y": 1220,
        "wires": [
            [
                "a0105f24aaaf77a0"
            ]
        ]
    },
    {
        "id": "425c05c0f6f84322",
        "type": "exec",
        "z": "1bc7a6a4da33e4e6",
        "command": "cd /home/iplon/grafana-generate-pdf-nodejs-main/ && node grafana_screenshot.js \"https://igrafana.iplon.co.in/d/W_0fTQkVkr1/16-monthly-yearly_report_sunalpha_vibrant_chittor_480-60kwp_400kw?orgId=20\" vibrantpolymer_admin:Admin@321 output/16.png",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "16",
        "x": 550,
        "y": 1240,
        "wires": [
            [
                "c355fcc50d3657a6"
            ],
            [],
            []
        ]
    },
    {
        "id": "a0105f24aaaf77a0",
        "type": "change",
        "z": "1bc7a6a4da33e4e6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "a16",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 1220,
        "wires": [
            [
                "28c7c0db9754bae3"
            ]
        ]
    },
    {
        "id": "e4ba91953f902857",
        "type": "file in",
        "z": "1bc7a6a4da33e4e6",
        "name": "17",
        "filename": "/home/iplon/grafana-generate-pdf-nodejs-main/output/17.png",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 730,
        "y": 1280,
        "wires": [
            [
                "87f055ea052bcc4b"
            ]
        ]
    },
    {
        "id": "87f055ea052bcc4b",
        "type": "base64",
        "z": "1bc7a6a4da33e4e6",
        "name": "",
        "action": "str",
        "property": "payload",
        "x": 920,
        "y": 1280,
        "wires": [
            [
                "8c1db80b57571962"
            ]
        ]
    },
    {
        "id": "021afb136a1971b2",
        "type": "exec",
        "z": "1bc7a6a4da33e4e6",
        "command": "cd /home/iplon/grafana-generate-pdf-nodejs-main/ && node grafana_screenshot.js \"https://igrafana.iplon.co.in/d/216rfYvVa/17-inverter-idc-heatmap_sunalpha_vibrant_chittor_480-60kwp_400kw?orgId=20\" vibrantpolymer_admin:Admin@321 output/17.png",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "17",
        "x": 550,
        "y": 1300,
        "wires": [
            [
                "e4ba91953f902857"
            ],
            [],
            []
        ]
    },
    {
        "id": "8c1db80b57571962",
        "type": "change",
        "z": "1bc7a6a4da33e4e6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "a17",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 1280,
        "wires": [
            [
                "28c7c0db9754bae3"
            ]
        ]
    },
    {
        "id": "7d37afc990d4578e",
        "type": "inject",
        "z": "1bc7a6a4da33e4e6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 420,
        "wires": [
            [
                "c8bb5459c1aa6b8d",
                "580622f812545397",
                "2fb4e5f31879b55e",
                "b90fcf1bcb55d7ca",
                "a2aaa543afebd316",
                "0dcee20793914ead",
                "5517819afdd2be71",
                "0f61a1f635571759"
            ]
        ]
    },
    {
        "id": "a2aaa543afebd316",
        "type": "delay",
        "z": "1bc7a6a4da33e4e6",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 280,
        "y": 600,
        "wires": [
            [
                "d5d64d4bd1732ae5",
                "84be3eda7f12737d",
                "7320c0bb33cfa96a",
                "f64f6d329b0ada57",
                "2ef18ddd06d1e5b7"
            ]
        ]
    },
    {
        "id": "0dcee20793914ead",
        "type": "delay",
        "z": "1bc7a6a4da33e4e6",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 280,
        "y": 960,
        "wires": [
            [
                "896df9a4fbac1202",
                "9c7e86584a674cb3",
                "b7e1bc99553a8120",
                "dbbe25e152839962"
            ]
        ]
    },
    {
        "id": "5517819afdd2be71",
        "type": "delay",
        "z": "1bc7a6a4da33e4e6",
        "name": "",
        "pauseType": "delay",
        "timeout": "160",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 290,
        "y": 1180,
        "wires": [
            [
                "4f14d334d64a14f1",
                "425c05c0f6f84322",
                "021afb136a1971b2",
                "fca16321d65c857f"
            ]
        ]
    },
    {
        "id": "0aacbb4833668707",
        "type": "delay",
        "z": "1bc7a6a4da33e4e6",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 800,
        "y": 200,
        "wires": [
            [
                "b9d83f369d6b77db"
            ]
        ]
    }
]